In [6]:
import streamlit as st
import pandas as pd

import shutil
import os

In [15]:
df_bonos = pd.read_csv("./Data/bonos.csv")

In [16]:
df_bonos

,diferencia,dq,indice,md,paridad,pq,precio,qp,ticker,tir,ttir,uptir,volumen,vt
0,NaN,43.0,Badlar,0.19,97.2%,31.8,115.20,28%,BDC24,224.3%,99.0%,15.8%,0.0,118.5
1,NaN,63.0,Badlar,0.25,105.8%,33.3,118.80,28%,TB24,161.2%,99.0%,10.0%,0.0,112.3
2,NaN,92.0,Badlar,0.23,89.7%,34.3,91.39,37%,PBY24,315.9%,99.0%,36.5%,0.0,101.9
3,NaN,57.0,Badlar,0.38,84.5%,32.8,96.50,34%,PBA25,295.0%,99.0%,66.6%,0.0,114.3
4,NaN,153.0,Fijo,1.00,21.2%,7.8,21.50,36%,TO26,143.5%,99.0%,44.6%,0.0,101.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,NaN,NaN,24560.00,909.63,NaN,NaN,NaN,NaN,NaN,868.15,NaN,NaN,↓-4.56%,NaN
112,NaN,NaN,29300.00,849.28,NaN,NaN,NaN,NaN,NaN,846.82,NaN,NaN,↓-0.29%,NaN
113,NaN,NaN,25500.00,953.27,NaN,NaN,NaN,NaN,NaN,860.90,NaN,NaN,↓-9.69%,NaN
114,NaN,NaN,NaN,92.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,NaN,NaN,90,NaN,NaN,NaN,NaN,NaN,NaN,100.1,NaN,NaN,NaN,NaN

In [17]:
st.title("Mi Dashboard con Streamlit")
button = st.button("Haz clic aquí")

In [5]:


# Mostrar el DataFrame
st.write("Aquí está el DataFrame:")
st.write(df_bonos)

In [13]:
def move_file(source_path, destination_path, file_name):
    # Build the full path of the source and destination file
    source_file = os.path.join(source_path, file_name)
    destination_file = os.path.join(destination_path, file_name)

    # Move the file
    try:
        shutil.move(source_file, destination_file)
        print(f"File moved to {destination_file}")
    except Exception as e:
        print(f"Error while moving the file: {e}")

In [14]:
# Using the function
source_path = "finance_collector/finance_collector/spiders"
destination_path = "app/Data"
file_name = "bonos.csv"

move_file(source_path, destination_path, file_name)

Error while moving the file: [Errno 2] No such file or directory: 'app/Data\\bonos.csv'